<!-- Fetches gs_data.json from the google-scholar-stats branch and hands it
     to the renderers defined in assets/js/scholar-stats.js -->
<script src="assets/js/scholar-stats.js"></script>
<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% endif %}
        var cacheBust = new Date().getTime()
        $.getJSON(gsDataBaseUrl + 'google-scholar-stats/gs_data.json?ts=' + cacheBust)
            .done(gsRenderScholarData)
            .fail(gsShowPubListError)
    })
</script>
