---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
<div style="text-align: center;">
  <div style="display:inline-block;width:200px;">
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5d9bs4em5be&amp;m=6&amp;c=ff0000&amp;cr1=ffffff&amp;br=13&amp;sx=0" async="async"></script>
  </div>
</div>
